@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500&display=swap');

body {
  background-color: rgb(248, 229, 244);

  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p   {
  font-weight: 700;
  font-size: large;
  margin: none none;
  padding: none none;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  overflow: auto;
  min-height: 300px;
  border-radius: 5px;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  margin: none; 
  
}

h1 {
  margin: 0;
}
.card {
  padding: none;
  margin-top: 0;
}
.title {
  margin: 0;

  display: flex;
  /* padding: 5; */
  /* border-bottom: 20px; */
  align-items: center;
  font-size: large;
}

.btn {
  display: flex;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  margin-left: 10em;
  text-align: center;
  
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  width: 95%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
}

.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  text-align:left;
  font-weight: bold;
}

.form-control input {
  width: 95%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-right: none;
}