body {
  background-color: rgb(248, 229, 244);

  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-weight: lighter;
  font-size: large;
  margin: none none;
  padding: none;
}

.header {
  text-align: center;
  font-family: cursive;  
}

.h1 {
  margin: none;
}
.card {
  padding: none;
  margin: none;
}
.title {
  margin: none none;
  padding: none none;
}