@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500&display=swap');
:root {
  --color-light: rgb(170, 200, 255);
  --color-lighter: rgb(225, 227, 255);
}

body {
  background-color: hsla(219, 100%, 38%, 1);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img {
  margin: 20px;
}

p   {
  font-weight: 700;
  font-size: large;
  margin: none none;
  padding: none none;
}

.container {
  max-width: 85vw;
  margin: 0 auto;
  min-height: 300px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  margin: auto; 
}
.header h4 {
  color: var(--color-light)
}

.card {
  margin: 20px;
  padding: none;
  margin-top: 0;
  color: var(--color-lighter)
}
.card svg{
  
  color: var(--color-lighter);
}
.title {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: large;
}

.App {
  color: var(--color-lighter)
}

.btn {
  background-color: hsla(219, 100%, 18%, 1);
  display: flex;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  font-weight: bold;
  margin-left: 3em;
  text-align: center;
  color: hsla(219, 100%, 88%, 1);
}

.btn:hover {
  border: solid 1px black;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  width: 95%;
  height: 40px;
  margin: 5px;
  justify-content: center;
}

.add-form {
  margin-bottom: 40px;
  max-width: 50vw;
  align-content: center;
  justify-content: center;

}
.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  text-align:left;
  font-weight: bold;
}

.form-control input {
  width: 95%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.empty-list {
  color: var(--color-light);
}
